<div id="favorite">
    <% if @producto.favorite%>
    <%= link_to 'ðŸ–¤', favorite_path(@producto.id), data: { turbo_method: :delete } %>
    <% else %>
    <%= link_to 'â¤ï¸', favorites_path(producto_id: @producto.id), data: { turbo_method: :post } %>
    <% end %>
</div>