#main-container {
    height: 150px;
    width: 400px;
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
  }
  

  #main-container h1{
    font-family: Tahoma;
    font-size: 35px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #c061cb;
    font-weight: normal;
    text-decoration: underline;
    font-style: oblique;
    font-variant: small-caps;
    text-transform: none;
    }
  

  
  #main-container link_to {
    font-family: Times New Roman;
    font-size: 20px;
    color: #1a5fb4;
    font-weight: normal;
    text-decoration: overline;
    font-style: oblique;
    font-variant: small-caps;
    text-transform: none;
  }
  